

/* Extracted template styles */
/* Extracted inline styles from templates/sales-targets\list.html */
.extracted-sales-targets-list-c0b1063f {
    min-width: 150px;
}

/* Extracted inline styles from templates/sales-targets\list.html */
.extracted-sales-targets-list-cec9e9ea {
    min-width: 120px;
}

/* Extracted inline styles from templates/sales-targets\list.html */
.extracted-sales-targets-list-d369d47a {
    min-width: 180px;
}
