<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First Change Password</title>
</head>
<body>

<h2>Change Password First Login</h2>

<p style="color:red" th:text="${error}"></p>

<form th:action="@{/first-change-password}" th:object="${changePassword}" method="post">

    <div>
        <label>New Password</label>
        <input type="password" th:field="*{newPassword}">
    </div>

    <br>

    <div>
        <label>Confirm Password</label>
        <input type="password" th:field="*{confirmPassword}">
    </div>

    <br>

    <button type="submit">Change Password</button>

</form>

</body>
</html>