<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Import Leads</title>
</head>
<body>

<h2>Import Customer / Lead From Excel</h2>

<form th:action="@{/customer/import}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx,.xls">
    <button type="submit">Import</button>
</form>
<button type="button"
        onclick="window.location.href='/excel/customer_import_template.xlsx'">
    Download Template
</button>
<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<form th:action="@{/customer/check}" method="post">
<table border="1" th:if="${customer}">
    <thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Company Name</th>
        <th>Tax Code</th>
        <th>Customer Source</th>
        <th>Customer Type</th>
        <th>Sale</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="lead : ${customer}">

      <td> <input type="checkbox" name="checkbox" th:value="${lead.id}"/>
      </td>
        <td>
               <a th:href="@{/customer/detail(id = ${lead.id})}"
                th:text="${lead.id}">
               </a></td>
        <td> <a    th:href="@{/customer/detail(id = ${lead.id})}"
                th:text="${lead.fullName}"></a></td>
        <td th:text="${lead.gender}"></td>
        <td th:text="${lead.phone}"></td>
        <td th:text="${lead.email}"></td>
        <td th:text="${lead.address}"></td>
        <td th:text="${lead.companyName}"></td>
        <td th:text="${lead.taxCode}"></td>
        <td th:text="${lead.customerSource}"></td>
        <td th:text="${lead.customerType}"></td>
        <td>
            <span th:if="${lead.assignedSalesId == null}">Chưa phân</span>

            <span th:each="sale : ${sales}"
                  th:if="${sale.id == lead.assignedSalesId}"
                  th:text="${sale.fullName}">
    </span>
        </td>
    </tr>




    </tbody>
</table>
    <select name="saleId" required>
        <option value="">Choose sale</option>
        <option th:each="sale: ${sales}"
                th:value="${sale.id}"
                th:text="${sale.fullName}">

        </option>
    </select>
    <button type="submit" >Phân bổ </button>
</form>
</body>
</html>
